.custom-navbar {
    background-color: #093;
    /* Cambia #ff6347 por el color que desees */
    color: #ffffff;
}

.navbar-brand-custom {
    color: #ff6347;
    /* Cambia #ff6347 por el color de texto que desees */
}

.title-container {
    background-color: #093;
    /* Cambia #ff6347 por el color de fondo que desees */
    color: #ffffff;
    /* Cambia #ffffff por el color de texto que desees */
    padding: 20px;
    /* Añade relleno para mejorar el aspecto visual */
    width: 100%;
    /* Hace que el contenedor abarque todo el ancho de la pantalla */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.title-container h1 {
    margin: 0;
    /* Elimina el margen predeterminado del título */
}

#navbarNav a {
    color: #ffffff;
    /* Cambia #ff6347 por el color de texto que desees */
    /* Otros estilos para los enlaces dentro de #navbarNav */
}

h1 {
    text-align: center;
}