/* styles.css */

/* Estilo para los enlaces del paginador */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination > li {
    display: inline-block;
    margin-right: 5px;
}

.pagination > li > a,
.pagination > li > span {
    color: #333;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/* Estilo para los botones de navegación del paginador */
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

/* Estilo para el botón de página anterior */
.pagination > .pagination-prev > a,
.pagination > .pagination-prev > span {
    margin-right: 5px;
}

/* Estilo para el botón de página siguiente */
.pagination > .pagination-next > a,
.pagination > .pagination-next > span {
    margin-left: 5px;
}
