.navbar-app {
    /* background-color: #2d572c; */
    color: white;
    padding: 20px; 
    text-align: center; 
}

.navbar-app .navbar-brand {
    font-size: 24px; /* Tamaño del texto */
    font-family: 'Kavoon', sans-serif;
    color: white;
    font-weight: bold; /* Negrita */
    width: 100%; /* Asegura que el ancho del texto sea del 100% */
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

/* @keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
}

.navbar-app {
    background: #33CCCC; 
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}
h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
} */

.custom-card {
    /* Agrega aquí tus estilos personalizados para la tarjeta */
    background-color: #336132; /* Ejemplo de color de fondo */
    color: white;
}

body {
    background-color: #b0e85a; /* Cambia este color al que desees */
}

