:root{
    --var-color-main: #2d572c;
    --var-color-links-primario: #2c7959;
    --var-color-links-secundario: #44b687;
 }

.navbar-app {
    color: white;
    padding: 20px; 
    text-align: center; 
}

.navbar-app .navbar-brand {
    color: white;
    font-weight: bold;
    width: 100%;
}

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.custom-card {
    background-color: var(--var-color-main);
    color: white;
}

body {
    background-color: var(--var-color-links-primario); /* Cambia este color al que desees */
}

