/* admin index */
.card {
    border: 1px solid #ccc; /* Borde sólido de color gris */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color:  #336132; /* Fondo blanco */
    color: #ffffff; /* Color del texto */
}

.card-header {
    /* Tus estilos personalizados aquí */
    background-color:#336132; /* Cambiar el color de fondo */
    color: #fdfdfd; /* Cambiar el color del texto */
    font-size: 20px; /* Cambiar el tamaño del texto */
    padding: 10px 15px; /* Ajustar el relleno */
    border-bottom: 1px solid #ccc; /* Agregar un borde inferior */
    border-radius: 5px 5px 0 0; /* Redondear las esquinas superiores */
    /* Otros estilos según tus preferencias */
}



.table {
    /* Estilos generales de la tabla */
    width: 100%;
    border-collapse: collapse;
    }

    /* Otros estilos personalizados para la tabla */
    .table th, .table td {
      padding: 8px; /* Ajusta el relleno */
      text-align: left; /* Alineación del texto */
    }

    /* Estilos adicionales para las celdas */
    .table th {
      background-color: #343a40; /* Cambia el color de fondo del encabezado */
         color: #ffffff; /* Cambia el color del texto en el encabezado */
    }

    .table td {
        border-bottom: 3px solid #336132; /* Cambia el grosor y color de la línea inferior */
    }
    /* modal */
    .modal-header {
        /* Tus estilos personalizados aquí */
        background-color:#336132; /* Cambiar el color de fondo */
        color: #fffdfd; /* Cambiar el color del texto */
        font-size: 40px; /* Cambiar el tamaño del texto */
        padding: 10px 15px; /* Ajustar el relleno */
        border-radius: 5px 5px 0 0; /* Redondear las esquinas superiores */
        /* Otros estilos según tus preferencias */
    }
    
    .form-group {
        text-align: center; /* Centra horizontalmente */
    }
    
    .form-group img {
        display: inline-block; /* Para que se comporte como un elemento de bloque */
        /* Opcional: agregar más estilos según sea necesario */
    }

    .float-left {
        float: left;
    }
    
    .text-danger {
        color: red;
    }