:root{
   --var-color-main: #2d572c;
   --var-color-links-primario: #2c7959;
   --var-color-links-secundario: #44b687;
}

body{
   font-family: 'Poppins', sans-serif;
}

.carousel-text h1,
.carousel-text p {
   width: fit-content;
   height: fit-content;
   background: #2d572c80;
   padding: 10px; 
   color: white;
   margin: 10px; 
   border-radius: 15px;
}

/* Media query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 767px) {
   #uib_sidebar_wrapper {
      margin-bottom: 20px;
   }

   #uib_sidebar_wrapper>button {
      width: 100%;
      text-align: left;
   }

   #uib_sidebar_wrapper>div {
      padding: 10.5px;
      border: 1px solid #386b3780;
      border-top: 0;
  }
}

.card{
   display: block;
   text-decoration: none !important;
   color: #333;
   border: 1px solid #dee2e6;
}

.card:hover {
   background-color: var(--var-color-links-primario);
   color: #FFF;
}

.card-title {
   font-weight: 500;
   margin-bottom: .35rem;
}

.card-text {
   font-size: 1rem;
   color: #6c757d;
}

.card:hover .card-text {
   color: #FFF;
}

#uib_buscador .fa {
   position: absolute;
   z-index: 99;
   margin-top: 10px;
   margin-left: 6px;
   color: #2d572ca0;
}

#uib_buscador input {
   text-indent: 15px;
}

.btn-showSearchButton {
   color: #fff;
   background-color: var(--var-color-main);
   border-color: #386b3780;
}

.btn-showSearchButton:hover {
   color: #fff;
   background-color: #2d572cc5;
}

.btn-showSearchButton:active {
   background-color: #213f21;
   border-color: var(--var-color-main);
}

.search-custom:hover {
   background-color: var(--var-color-links-primario);
   color: #FFF;
}

.search-custom:hover .card-text {
   color: #FFF;
}

.link-planta:hover {
   background-color: var(--var-color-links-primario);
   color: #FFF;
}

.pagination>li>a, .pagination>li>span {
   color: var(--var-color-links-primario);
   background-color: #fff;
   border: 1px solid #ddd;
   margin-left: -1px;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
    color: #fff;
    background-color: var(--var-color-links-primario);
    border-color: var(--var-color-links-secundario);
}

footer{
   background: var(--var-color-main);
}

.carousel-caption {
   position: static !important;
   padding-top: 1rem;
   padding-bottom: 1rem;
}