.carousel-custom{
   height: 60vh;
   width: 100vw;
   margin: auto;
   min-height: 300px;
}

.carousel-caption-custom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1 1 auto;
   min-width: 50%;
   min-height: 100%;
   text-align: center;
}

.carousel-caption h1,
.carousel-caption p {
   width: fit-content;
   height: fit-content;
   background: rgb(45, 87, 44, 0.5);
   padding: 10px; 
   color: white;
   margin: 10px; 
   border-radius: 15px;
}

.carousel-caption-custom p {
   font-size: 2rem;
   margin-bottom: 1rem;
}

.carousel-caption-custom h1 {
   font-size: 4rem;
   margin-bottom: 2rem; 
}

/* Media query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
   .carousel-caption-custom p {
      font-size: 0.5rem !important;
   }

   .carousel-caption-custom h1 {
      font-size: 1rem !important;
   }

   .carousel-custom{
      height: auto;
      width: 100vw;
      margin: auto;
      min-height: 300px;
   }

   .carousel-caption h1,
   .carousel-caption p {
      border-radius: 7px;
      margin: auto;
      padding: 5px;
   }

   .image-custom{
      overflow: visible;
   }

   .carousel-control-next-icon,
   .carousel-control-prev-icon,
   .carousel-indicators{
      display: none;
   }
}
